.navbar-custom {
  background-color: #20556e;
}

.own-ul {
  margin: 0 auto;
  gap: 45px;
}

.nav-link {
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.nav-link:hover {
  text-decoration: underline;
  color: #d87655;
}

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  display: none;
}
.mobile-menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;

  margin: 0 auto;
  height: 100%;
  background-color: #0ccaee;
  transition: top 0.3s ease-in-out;
  z-index: 1050;
  text-align: center;
}
.mobile-menu.open {
  top: 0;
}

.mobile-menu .nav-link {
  font-size: 1.5rem;
}

.nav-link-mobile {
  margin-top: 150px;
}
.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #070707;
}
header {
  height: 100vh;
  background-image: url("../foto.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu-logo {
  width: 100px;
}

.own-btn {
  background-color: #d87655 !important;
  color: white;
  width: 12rem;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border: none;
  font-family: sans-serif;
  font-weight: 600;
}

.own-btn:hover {
  background-color: rgb(9, 9, 65) !important;
  color: white;
}

.img-btn {
  width: 100px;
}
.img-btn-1 {
  margin-top: 18rem;
  margin-left: 2rem;
}
.img-btn-2 {
  margin-top: 10rem;
  margin-left: 5rem;
}

/* ESTILOS PARA EL FORMULARIO DONDE SE AGREGAN LOS PERSONAJES */

.body-person {
  background-color: #0ecaee;
}
.fondo-personajes {
  background-color: #0ecaee;
  height: 100vh;
}

.frm-personajes {
  margin-top: 5rem;
  background-color: #d87655;
  width: 45%;
  height: 30rem !important;
  border-radius: 25%;
  /* border: #838383 3px solid !important; */
  box-shadow: #09173d;
}

.h2-personajes {
  border: rgb(248, 246, 246) solid !important;
  border-radius: 25px;
  padding: 10px;

  color: aliceblue;
}
#add-personaje-btn {
  background-color: #20556e;
  color: aliceblue;
  font-weight: 600;
}

#add-personaje-btn:hover {
  background-color: #338bb4;
  color: white;
}

.img-person {
  width: 650px;
}
.p-person {
  margin: 0 auto;
  font-size: 20px;
  color: aliceblue;
  border-radius: 25px;
  width: 90%;
  padding: 3rem 10rem 3rem 10rem;
  background-color: #d87655;
  text-align: center;
}
.btn-person {
  width: 10px !important  ;
}
.plus-person {
  color: #edeff0;
  width: 2rem;
}

/* .btn-remove-personaje {
  background-color: #75acc7;
} */

/* .plus-person:hover {
  background-color: #d87655;
  color: #20556e;
  border: 2px #0ccaee;
  border-radius: 10%;
} */

.div-btn-next {
  position: absolute;
  z-index: 2;
  margin-top: 35.5rem;
  margin-left: 27rem;
}
.btn-next {
  background-color: #20556e;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2rem 0.5rem 2rem;
  letter-spacing: 1px;
}
.btn-next:hover {
  background-color: #338bb4;
  color: white;
}

.svg-next {
  color: white;
  width: 1.5rem;
  position: relative;
}
.footer{
  background-color: #20556e;
  color: white;
}

 /* estilos formulario-pago */

 .cuerpo-pago {
  background-color: #d87655;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
}
.formulario-pago {
  background-color: #d87655;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 700px;
  height: 700px;
}
.titulo-pago {
  font-size: 24px;
  font-weight: bold;
}
.opciones-formulario {
  margin-top: 20px;
  text-align: left;
  display: flex;
}
.boton-pago {
  color:white;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  cursor: pointer;
  border: 10px #051806;
  background-color: #0ecaee;
  border-radius: 10px ;
}
.opciones-formulario .boton-pago:hover {
  background-color: #ddd;
  border-color: #999;
}
.coste-pago {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.img-pago{
  background-size: cover;
  background-position: center;
}
.titulo-pago{
  width: 100%;
  padding-top: 15px;

}
.texto-pago{
  text-align: center;
  border: #ffffff 2px solid;
  border-radius: 15px;
  width: 500px;
  margin: 0 auto;
  color:white;
}
.fondo-pago{
  background-color: #d87655;
}

/* FIN estilo formulario-pago */

/* Estilos Seccion Emociones */
.fondo-emociones {
  background-color: #d87655;
  height: 100vh;
  padding: 40px;
}
.container-emociones {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.texto-titulo {
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  border: white solid;
  width: 900px;
  margin: 0 auto;
  color:white
}

.scroll-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  white-space: nowrap;
  border: 1px solid #ddd;
  padding: 10px;
  width: 500px;
  border-radius: 10px;
  max-height: 435px;/* Limita la altura para permitir el scroll */
}

.emotion {
  padding: 25px 40px;
  margin: 10px;
  color: white;
  background-color: #338bb4;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}
.emotion:hover {
  transform: scale(1.1);
  background-color: #0ecaee;
}
/* Imagen emociones */

.img-emociones{
  text-align: right;
  width: 400px;
}
#img_emociones{
  width: 450px;
}

/* Botones */
.btn {
  padding: 20px 40px;
  margin-left: 10px;
  background-color: #6c757d;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.div-btn-next {
  position: absolute;
  z-index: 2;
  margin-top: 2rem;
  margin-left: 64rem;
}
.div-btn-back {
  position: absolute;
  z-index: 2;
  margin-top: 2rem;
  margin-left: 49rem;
}
.btn-next {
  background-color: #20556e;
  color: white;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2.5rem 0.5rem 3rem;
  letter-spacing: 1px;
  gap: 20px;
}
.btn-back {
  background-color: #20556e;
  color: white;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 4rem 0.5rem 3rem;
  letter-spacing: 1px;
  gap: 20px;
}
.btn-next:hover {
  background-color: #338bb4;
  color: white;
}
.btn-back:hover {
  background-color: #338bb4;
  color: white;
}

/* Flechitas avance y retroceso */
.svg-next {
  color: white;
  width: 1.5rem;
  height: 30px;
}
.svg-back {
  color: white;
  width: 1.5rem;
  height: 30px;
}
/* FIN estilo Seccion emociones */

<<<<<<< HEAD
/* INICIO estilo checkout*/
.checkout-container {
  padding: 15px;
  background-color: #0ecaee;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  max-width: 100%;
  max-height: 100%;
  
}

.checkout-titulo {
  padding: 8px;
  font-weight: 600;
  text-align: center;
  border: #ffffff 2px solid;
  border-radius: 15px;
  width: 500px;
  margin: 0 auto;
  color: white;
}

.checkout-form {
  width: 100%;
  padding: 40px;
  background-color: #0ecaee;
}

.checkout-form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 1.5rem;
}

.checkform-group {
  flex: 1;
  position: relative;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 0.9rem;
}

.form-control {
  width: 100%;
  padding: 12px 40px 12px 15px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 0 0 3px rgba(52,152,219,0.1);
}

.form-control::placeholder {
  color: #bdc3c7;
}

.checkform-group i {
  position: absolute;
  right: 15px;
  top: 40px;
  color: #95a5a6;
}

.checksubmit-button {
  background: #3498db;
  width: 200px; /* Ancho fijo para el botón */
  padding: 15px 30px;
  color: black;    
  border: none;
  border-radius: 25px; /* Más redondeado */
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 2rem auto; /* Centrado horizontalmente */
  display: block;    /* Para que el margin auto funcione */
  text-transform: uppercase;
  letter-spacing: 1px;
}

.checksubmit-button:hover {
  background: #2980b9;
}

@media (max-width: 768px) {
  .checkout-form-row {
    flex-direction: column;
    gap: 10px;
  }
  
  .checkout-container {
    padding: 1rem;
    margin: 1rem;
  }
}

/* FIN estilo checkout */
=======
/* Estilos Seccion estilo comic */
.fondo-comic {
  background-color: #0ecaee;
  height: 100vh;
  padding: 40px;
}
.container-comic {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.texto-titulo-comic {
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  border: white solid;
  width: 900px;
  margin: 0 auto;
  color:white;
}

.scroll-container-comic {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  white-space: nowrap;
  border: 1px solid #ddd;
  padding: 10px;
  width: 500px;
  border-radius: 10px;
  max-height: 490px;/* Limita la altura para permitir el scroll */
}

.estilo-comic {
  padding: 25px 40px;
  margin: 10px;
  color: white;
  background-color: #20556e;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}
.estilo-comic:hover {
  transform: scale(1.1);
  background-color: #6c757d;
}
/* Imagen estilo comic */

.img-comic{
  text-align: right;
  width: 800px;
}
#img_comic{
  width: 850px;
}

/* Botones */
.btn {
  padding: 20px 40px;
  margin-left: 10px;
  background-color: #6c757d;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.div-btn-next {
  position: absolute;
  z-index: 2;
  margin-top: 2rem;
  margin-left: 64rem;
}
.div-btn-back {
  position: absolute;
  z-index: 2;
  margin-top: 2rem;
  margin-left: 49rem;
}
.btn-next {
  background-color: #20556e;
  color: white;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2.5rem 0.5rem 3rem;
  letter-spacing: 1px;
  gap: 20px;
}
.btn-back {
  background-color: #20556e;
  color: white;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 4rem 0.5rem 3rem;
  letter-spacing: 1px;
  gap: 20px;
}
.btn-next:hover {
  background-color: #338bb4;
  color: white;
}
.btn-back:hover {
  background-color: #338bb4;
  color: white;
}

/* Flechitas avance y retroceso */
.svg-next {
  color: white;
  width: 1.5rem;
  height: 30px;
}
.svg-back {
  color: white;
  width: 1.5rem;
  height: 30px;
}
/* FIN Seccion estilo comic */
>>>>>>> 3b9f1727a53456a6f4a282abba1b0f4970a35ec0
@media (min-width: 576px) {
  .img-btn {
    width: 110px;
  }
  .img-btn-1 {
    margin-top: 23rem;
    margin-left: 8rem;
  }
  .img-btn-2 {
    margin-top: 15rem;
    margin-left: 14rem;
  }
}

@media (min-width: 768px) {
  .img-btn {
    width: 120px;
  }
  .img-btn-1 {
    margin-top: 26rem;
    margin-left: 8rem;
  }
  .img-btn-2 {
    margin-top: 15rem;
    margin-left: 18rem;
  }
}

@media (min-width: 992px) {
  .img-btn {
    width: 150px;
  }
  .img-btn-1 {
    margin-top: 26rem;
    margin-left: 14rem;
  }
  .img-btn-2 {
    margin-top: 15rem;
    margin-left: 30rem;
  }
}

@media (min-width: 1200px) {
  .img-btn-1 {
    margin-top: 27rem;
    margin-left: 15rem;
  }
  .img-btn-2 {
    margin-top: 15rem;
    margin-left: 35rem;
  }
}

@media (min-width: 1400px) {
  .img-btn {
    width: 165px;
  }
  .img-btn-1 {
    margin-top: 25rem;
    margin-left: 20rem;
  }
  .img-btn-2 {
    margin-top: 10rem;
    margin-left: 50rem;
  }
}

/******* ANIMACIONES ************/

@keyframes animacion-entrada-derecha {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animacion-salida-derecha {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.animacion-entrada {
  animation: animacion-entrada-derecha 1s ease-out forwards;
}

.animacion-salida {
  animation: animacion-salida-derecha 1s;
}

 /********************** Estilos css de trama ******************************/
#estilo-cuerpo {                                 /* Body de trama */
  font-family:sans-serif;
  background-color: #0ecaee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#trama-cont {
  text-align: center;
}

#titulo {
  font-size: 30px;
  font-weight: bold;
  color: rgb(32, 85, 110);
  border: 1.6px solid rgb(32, 85, 110);
  border-radius: 25px;
  padding: 10px 20px;
  display: inline-block;
  background-color: #0ecaee;
}

#escenario {
  background-color: #fff;
  border-radius: 25px;
  padding: 30px;
  max-width: 800px;
  margin: 40px auto;
  color: rgb(132, 132, 145);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#trama-bt {
  display: flex;
  justify-content: flex-end; 
  gap: 30px;  
  max-width: 900px;
  margin:  40px auto;
}

#trama-bt button {
  width: auto;
  background-color: #20556e;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  letter-spacing: 1px;
}

#trama-bt button:hover {
  background-color: #338bb4;
  color: white;
}


#texto-escenario {
  outline: none;
  opacity: 0.8;
  border: none;
  font-family: Arial, sans-serif;
}

/********************** Final de estilos css de trama ******************************/

/********************** Estilos css de personal******************************/
#personal-cuerpo-p {                                 
  font-family:sans-serif;
  background-color: #d87655;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#personal-cont {
  text-align: center;
  
}

#titulo-p {
  font-size: 30px;
  font-weight: bold;
  color: white;
  border: 1.6px solid white;
  border-radius: 25px;
  padding: 10px 40px;
  display: inline-block;
  background-color: #d87655;
}

#escenario-p {
  background-color: #fff;
  border-radius: 25px;
  padding: 30px;
  max-width: 800px;
  margin: 40px auto;
  color: rgb(132, 132, 145);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#estilo-bt {
  display: flex;
  justify-content: flex-end; 
  gap: 30px;  
  max-width: 900px;
  margin:  80px auto;
}

#estilo-bt button {
  width: auto;
  background-color: #20556e;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2 rem;
  letter-spacing: 1px;
}

#estilo-bt button:hover {
  background-color: white;
  color: white;
}


#texto-escenario {
  outline: none;
  opacity: 0.8;
  border: none;
  font-family: Arial, sans-serif;
}

/* Botones */
.btn {
  padding: 20px 40px;
  margin-left: 10px;
  background-color: #6c757d;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.div-btn-next {
  position: absolute;
  z-index: 2;
  margin-top: 1.5rem;
  margin-left: 24rem;
}
.div-btn-back {
  position: absolute;
  z-index: 2;
  margin-top: 1.5rem;
  margin-left: 10rem;
}
.btn-next {
  background-color: #20556e;
  color: white;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2.5rem 0.5rem 3rem;
  letter-spacing: 1px;
  gap: 20px;
}
.btn-back {
  background-color: #20556e;
  color: white;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 4rem 0.5rem 3rem;
  letter-spacing: 1px;
  gap: 20px;
}
.btn-next:hover {
  background-color: #338bb4;
  color: white;
}
.btn-back:hover {
  background-color: #338bb4;
  color: white;
}

/* Flechitas avance y retroceso */
.svg-next {
  color: white;
  width: 1.5rem;
  height: 30px;
}
.svg-back {
  color: white;
  width: 1.5rem;
  height: 30px;
}
/********************** Fin estilos css de personal******************************/