
#estilo-cuerpo {                                 /* Body de trama */
    font-family:sans-serif;
    background-color: #0ecaee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#trama-cont {
    text-align: center;
}

#titulo {
    font-size: 30px;
    font-weight: bold;
    color: rgb(32, 85, 110);
    border: 2px solid rgb(32, 85, 110);
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
    background-color: #0ecaee;
}

#escenario {
    background-color: #fff;
    border-radius: 25px;
    padding: 30px;
    max-width: 800px;
    margin: 40px auto;
    color: rgb(132, 132, 145);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#trama-bt {
    display: flex;
    justify-content: flex-end; 
    gap: 30px;  
    max-width: 900px;
    margin:  40px auto;
}

#trama-bt button {
    background-color: #20556e;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    letter-spacing: 1px;
}

#trama-bt button:hover {
    background-color: #338bb4;
    color: white;
}